body .layui-layer {
  background: none !important;
}
body {
  background-color: #efefef;
  min-width: 1200px;
}
main {
  width: 1200px;
  min-width: 1200px;
  margin: 120px auto 0;
}
main .tabContent {
  margin-left: 155px;
  box-sizing: border-box;
}
main .tabContent > a {
  display: block;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
  width: 400px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  color: #666;
  text-indent: 30px;
}
main .tabContent .foundBtn {
  background: url("../../images/found_false.png") no-repeat 158px center #dbdbdb;
}
main .tabContent .chooseBtn {
  background: url("../../images/choose_false.png") no-repeat 158px center #dbdbdb;
}
main .tabContent .foundBtn.active {
  font-weight: 600;
  color: #101010;
  background: url("../../images/found_true.png") no-repeat 158px center #fff;
}
main .tabContent .active.chooseBtn {
  font-weight: 600;
  color: #101010;
  background: url("../../images/choose_true.png") no-repeat 158px center #fff;
}
main .contentBox > div .leftBox {
  float: left;
  box-sizing: border-box;
  width: 145px;
  background-color: #fff;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  cursor: pointer;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem {
  border-left: 6px solid #bdbdbd;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .hospitalName,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .hospitalName,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .hospitalName,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .hospitalName,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .oneLevelName,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .oneLevelName,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .oneLevelName,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .oneLevelName {
  box-sizing: border-box;
  line-height: 50px;
  background: #dbdbdb;
  padding: 0 4px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl {
  overflow-x: hidden;
  display: none;
  box-sizing: border-box;
  padding: 12px 0;
  background: #fff;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl::-webkit-scrollbar,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl::-webkit-scrollbar,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl::-webkit-scrollbar,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl::-webkit-scrollbar,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl::-webkit-scrollbar,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl::-webkit-scrollbar,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl::-webkit-scrollbar,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl::-webkit-scrollbar {
  display: none;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem {
  position: relative;
  box-sizing: border-box;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem > p,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem > p,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem > p,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem > p,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem > p,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem > p,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem > p,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem > p,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem > p,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem > p,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem > p,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem > p,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem > p,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem > p,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem > p,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem > p {
  font-size: 14px;
  color: #101010;
  line-height: 32px;
  font-weight: 600;
  padding-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem:after,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem:after,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem:after,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem:after,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem:after,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem:after,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem:after,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem:after,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem:after,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem:after,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem:after,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem:after,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem:after,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem:after,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem:after,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem:after {
  content: ' ';
  position: absolute;
  top: 9px;
  left: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left: 6px solid #516dcf;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl {
  display: none;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem {
  box-sizing: border-box;
  margin: 3px 13px 0 0;
  line-height: 30px;
  padding: 0 0 0 30px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .deptItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .deptUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .sectionItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .twoLevelItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .twoLevelItem .threeLevelUl .threeLevelItem.active {
  background: #516dcf;
  border-radius: 0 0 10px 0;
  color: #fff;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem .sectionUl .active:after,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .sectionUl .active:after,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .sectionUl .active:after,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .sectionUl .active:after,
main .contentBox > div .leftBox .hospitalUl .hospitalItem .twoLevelUl .active:after,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem .twoLevelUl .active:after,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem .twoLevelUl .active:after,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem .twoLevelUl .active:after {
  content: ' ';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 6px solid #516dcf;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem.active,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem.active,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem.active,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem.active {
  border-left: 6px solid #3249c2;
}
main .contentBox > div .leftBox .hospitalUl .hospitalItem.active .hospitalName,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem.active .hospitalName,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem.active .hospitalName,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem.active .hospitalName,
main .contentBox > div .leftBox .hospitalUl .hospitalItem.active .oneLevelName,
main .contentBox > div .leftBox .oneLevelUl .hospitalItem.active .oneLevelName,
main .contentBox > div .leftBox .hospitalUl .oneLevelItem.active .oneLevelName,
main .contentBox > div .leftBox .oneLevelUl .oneLevelItem.active .oneLevelName {
  background: #516dcf;
  color: #fff;
}
main .contentBox .foundBox {
  box-sizing: border-box;
  width: 1200px;
}
main .contentBox .foundBox .rightBox {
  background: #fff;
  float: right;
  width: 1045px;
  padding: 0 20px;
  /* 性别选择 */
  /* 加急按钮 */
}
main .contentBox .foundBox .rightBox .whiteBlock {
  width: 6px;
  height: 12px;
  background-color: #eef1fb;
  display: inline-block;
  margin-right: 10px;
}
main .contentBox .foundBox .rightBox .hosp {
  height: 90px;
  line-height: 90px;
  position: relative;
}
main .contentBox .foundBox .rightBox .hosp img {
  margin-bottom: 5px;
}
main .contentBox .foundBox .rightBox .hosp span {
  font-size: 16px;
  line-height: 28px;
}
main .contentBox .foundBox .rightBox .hosp span:nth-child(2) {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}
main .contentBox .foundBox .rightBox .age_ico {
  background: url("/yilaiyiwang/images/icon_bottom.png") no-repeat 0 0;
  width: 10px;
  height: 6px;
  position: absolute;
  top: 7px;
  right: -20px;
}
main .contentBox .foundBox .rightBox .wire {
  width: 50%;
  height: 2px;
  background: #EFEFEF;
  position: absolute;
  top: 50%;
  right: 0;
}
main .contentBox .foundBox .rightBox .wire1 {
  width: 680px;
}
main .contentBox .foundBox .rightBox .fl {
  float: left;
}
main .contentBox .foundBox .rightBox .sex,
main .contentBox .foundBox .rightBox .urgent {
  box-sizing: border-box;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}
main .contentBox .foundBox .rightBox .sex > a,
main .contentBox .foundBox .rightBox .urgent > a {
  display: block;
  float: left;
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f4f4f4;
  color: #101010;
  font-size: 14px;
  font-weight: 600;
}
main .contentBox .foundBox .rightBox .sex .active,
main .contentBox .foundBox .rightBox .urgent .active {
  background: #f6c567;
}
main .contentBox .foundBox .rightBox .active {
  background-color: #f6c567;
  font-weight: bold;
}
main .contentBox .foundBox .rightBox .urgent {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
}
main .contentBox .foundBox .rightBox .noExpedited {
  border-radius: 10px 0 0 10px;
  background-color: #f4f4f4;
}
main .contentBox .foundBox .rightBox .expedited {
  border-radius: 0 10px 10px 0;
  background-color: #f4f4f4;
}
main .contentBox .foundBox .rightBox .urgent .expedited label,
main .contentBox .foundBox .rightBox .urgent .noExpedited label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 38px;
  z-index: 3;
  opacity: 0;
  margin: auto;
  line-height: 38px;
  cursor: pointer;
}
main .contentBox .foundBox .rightBox .urgent input {
  vertical-align: middle;
  /*让默认的单选样式的圆圈和“男”“女”的文本没有高差，看起来在同一水平线*/
  height: 38px;
  line-height: 38px;
  margin: 0;
  /*清除浏览器默认的外边距*/
}
main .contentBox .foundBox .rightBox .urgent .expedited span.btn,
main .contentBox .foundBox .rightBox .urgent .noExpedited span.btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 38px;
  z-index: 2;
  margin: auto;
  line-height: 38px;
  text-align: center;
}
main .contentBox .foundBox .rightBox .urgent .noExpedited span.btn {
  border-radius: 10px 0 0 10px;
}
main .contentBox .foundBox .rightBox .urgent .expedited span.btn {
  border-radius: 0 10px 10px 0;
}
main .contentBox .foundBox .rightBox .choiceAge {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
}
main .contentBox .foundBox .rightBox input {
  box-sizing: border-box;
  line-height: 40px;
  border: 1px solid #dbdbdb;
  background: #f4f4f4;
  padding: 0 20px;
  margin: 10px 10px 20px 0;
}
main .contentBox .foundBox .rightBox .w200 {
  width: 200px;
  border-radius: 10px;
}
main .contentBox .foundBox .rightBox .w140 {
  width: 140px;
  border-radius: 10px;
}
main .contentBox .foundBox .rightBox .choose {
  color: #1937bc;
  padding-left: 20px;
  font-size: 14px;
}
main .contentBox .foundBox .rightBox .curp {
  cursor: text;
}
main .contentBox .foundBox .rightBox .mg20 {
  margin-top: 20px;
  margin-bottom: 10px;
}
main .contentBox .foundBox .rightBox .text-adaption {
  width: 100%;
  height: 40px;
  overflow: hidden;
  padding-left: 20px;
  resize: none;
  line-height: 40px;
  font-size: 14px;
  background-color: #f4f4f4;
  border: 1px solid #dbdbdb;
  outline: 0 none;
  border-radius: 10px;
  box-sizing: border-box;
}
main .contentBox .foundBox .rightBox .upfileItem .upfileContent {
  box-sizing: border-box;
  width: 985px;
}
main .contentBox .foundBox .rightBox .upfileItem .upfileContent .operateLeft {
  position: relative;
  box-sizing: border-box;
  padding-left: 16px;
  font-size: 14px;
}
main .contentBox .foundBox .rightBox .upfileItem .upfileContent .operateLeft:after {
  content: ' ';
  position: absolute;
  top: 4px;
  left: 0;
  width: 6px;
  height: 12px;
  background: #eef1fb;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent {
  height: 100px;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileAdd,
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileItem {
  position: relative;
  box-sizing: border-box;
  margin: 19px 4px 0;
  float: left;
  cursor: pointer;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileAdd > a,
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileItem > a {
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  background: url("../../images/addfile.png") no-repeat center;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileAdd .fileInput,
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileItem .fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileAdd > div,
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileItem > div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  background-size: contain; 
  background-repeat: no-repeat;
  border: 1px solid #dbdbdb;
  background-color: #f4f4f4;
  background-position: center;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileAdd > img,
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileItem > img {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 22px;
  height: 22px;
  z-index: 3;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileAdd .fileName,
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileItem .fileName {
  margin-top: 8px;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 100px;
  color: #101010;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileAdd .active,
main .contentBox .foundBox .rightBox .upfileItem .fileContent .fileItem .active {
  background: url("../../images/remark.png") no-repeat right center;
}
main .contentBox .chooseBox {
  display: none;
}
main .contentBox .chooseBox .rightBox {
  float: right;
  margin-left: 155px;
  box-sizing: border-box;
  width: 1045px;
  background: #fff;
  padding: 0 20px 10px;
}
main .contentBox .chooseBox .rightBox .tilteBox {
  position: relative;
  margin: 40px 0 0;
  line-height: 24px;
}
main .contentBox .chooseBox .rightBox .tilteBox > p {
  float: left;
  font-size: 16px;
  color: #101010;
}
main .contentBox .chooseBox .rightBox .tilteBox .doctorBox {
  background: url("../../images/selectDoc.png") no-repeat 10px center;
  text-indent: 40px;
  margin-right: 19px;
  font-weight: 600;
}
main .contentBox .chooseBox .rightBox .tilteBox:before {
  content: " ";
  position: absolute;
  top: 11px;
  right: 0;
  width: 500px;
  height: 2px;
  background: #efefef;
}
main .contentBox .chooseBox .rightBox .favoriteUl {
  margin: 17px 0 0;
}
main .contentBox .chooseBox .rightBox .favoriteUl > li {
  margin: 10px 10px 0 0;
  float: left;
  box-sizing: border-box;
  height: 34px;
  background: #eef1fb;
  border: 1px solid #c9d5ff;
  border-radius: 17px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  font-weight: 600;
  color: #1937bc;
  padding: 0 20px;
}
main .contentBox .chooseBox .rightBox .favoriteUl > li > img {
  float: right;
  margin: 9px 0 0 10px;
}
main .contentBox .chooseBox .rightBox .briefing ul {
  min-height: 600px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  height: 202px;
  border: 1px solid #efefef;
  float: left;
  border-radius: 10px;
  margin: 9px 0 0 9px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .Firstdiamond {
  width: 21px;
  height: 22px;
  border-radius: 10px 0 0 0;
  background: #60d4e0;
  float: left;
  margin: 20px 0 0 22px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .diamond {
  width: 21px;
  height: 22px;
  border-radius: 10px 0 0 0;
  background: #f6c567;
  float: left;
  margin: 20px 0 0 22px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .message {
  width: 249px;
  margin: 18px 0 0 49px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .message .mess_l {
  color: #101010;
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .message span {
  font-size: 17px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .message .p1 {
  margin-top: 4px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .message .p2 {
  box-sizing: border-box;
  height: 66px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
  margin-top: 20px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .message .p3 {
  color: #101010;
  margin-top: 10px;
}
main .contentBox .chooseBox .rightBox .briefing ul > li .message .p4 {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
  margin-top: 20px;
}
main .contentBox .chooseBox .rightBox .briefing .present {
  box-sizing: border-box;
  width: 461px;
  padding: 0 0 20px;
  background: #FFFCF6;
  position: absolute;
  display: none;
  z-index: 999;
  top: 0;
  left: 320px;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
}
main .contentBox .chooseBox .rightBox .briefing .present h4 {
  margin: 20px 0 0 22px;
  font-weight: 600;
  font-size: 16px;
}
main .contentBox .chooseBox .rightBox .briefing .present h4 span {
  font-weight: 400;
  margin-left: 15px;
}
main .contentBox .chooseBox .rightBox .briefing .present p {
  margin: 20px 21px 0 22px;
}
main .contentBox .chooseBox .rightBox .briefing .present input {
  float: left;
  width: 130px;
  height: 40px;
  background-color: #f6c567;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}
main .contentBox .chooseBox .rightBox .briefing .present .presentBtnOne {
  margin-left: 20px;
}
main .patient {
  background-color: #dbdbdb;
  background-color: black;
  border-left: 5px solid #bdbdbd;
  color: #666666;
  position: fixed;
  top: 100px;
  left: 50px;
  width: 140px;
  height: 40px;
  padding-left: 10px;
  border-radius: 0,0,10px, 0;
  font-weight: bolder;
  line-height: 40px;
  text-align: center;
}
main .left {
  float: left;
  background-color: #ffffff;
  margin-top: 50px;
  margin-left: 7px;
}
main .left p {
  width: 140px;
  height: 50px;
  padding-left: 10px;
  border-radius: 0,0,10px, 0;
  font-weight: bolder;
  line-height: 50px;
  font-size: 16px;
}
main .left p:nth-child(1) {
  background-color: #dbdbdb;
  border-left: 5px solid #bdbdbd;
  color: #666666;
}
main .left P:nth-child(2) {
  background-color: #516dcf;
  border-left: 5px solid #3249c2;
  color: #fff;
}
main .left .left_ul {
  border-left: 5px solid #3249c2;
}
main .left .left_ul li {
  padding-bottom: 4px;
}
main .left .left_ul h3 {
  padding-left: 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
}
main .left .left_ul .xlBtn {
  height: 30px;
  line-height: 30px;
}
main .left .left_ul .yiml:nth-child(1) {
  padding-top: 20px;
}
main .left .left_ul .item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .left .left_ul ul {
  display: none;
}
main .left .left_ul ul li {
  line-height: 30px;
  width: 125px;
  height: 30px;
  cursor: pointer;
  padding-left: 40px;
  padding-bottom: 4px;
}
main .bgli {
  background-color: #516dcf;
  border-radius: 0 0 10px 0;
}
main .layui-icon {
  padding-left: 10px;
  padding-right: 20px;
  color: #516dcf;
  position: absolute;
  top: 0;
  left: 10px;
}
.createCase_toolbar {
  height: 70px;
  width: 100%;
  background-color: #3249c2;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.createCase_toolbar .toolbar_left {
  display: inline-block;
  padding-top: 15px;
  padding-left: 30px;
  float: left;
  cursor: pointer;
}
.createCase_toolbar .toolbar_left > div {
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  background-color: #475bc8;
  text-align: center;
  line-height: 40px;
  float: left;
  border: 1px solid #3249c2;
  color: #fff;
  margin: 0 5px;
  border-radius: 10px;
}
.createCase_toolbar .toolbar_left .ServeDrafts {
  background-color: #f6c567;
  color: black;
}
.createCase_toolbar .toolbar_right {
  margin: 0 30px 0 0;
  float: right;
  display: inline-block;
  padding-top: 15px;
}
.createCase_toolbar .toolbar_right .cancel {
  width: 80px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  float: left;
  border: 1px solid #3249c2;
  color: black;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
}
.createCase_toolbar .toolbar_right > div {
  float: left;
}
.createCase_toolbar .toolbar_right > div > a {
  display: block;
  width: 80px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  border: 1px solid #3249c2;
  color: black;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
}
.imgFileUploade {
  width: 100%;
  padding: 10px;
}
.imgFileUploade .header {
  height: 50px;
  width: 100%;
  line-height: 50px;
}
.imgFileUploade .header span {
  display: block;
  float: left;
}
.imgFileUploade .header span.imgTitle {
  line-height: 50px;
}
.imgFileUploade .header span.imgTitle b {
  color: #e43d2a;
  margin: 0 5px;
  line-height: 57px;
  display: block;
  float: right;
  font-size: 20px;
}
.imgFileUploade .header span.imgClick {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
  background: url("img/addUpload.png") no-repeat center center;
  background-size: contain; 
}
.imgFileUploade .header span.imgcontent {
  color: #999;
  margin-left: 120px;
  line-height: 50px;
}
.imgFileUploade .imgAll {
  width: 100%;
  margin-top: 5px;
}
.imgFileUploade .imgAll ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.imgFileUploade .imgAll li {
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
  margin: 8px 5px;
  float: left;
  position: relative;
  box-shadow: 0 0 10px #eee;
}
.imgFileUploade .imgAll li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.delImg {
  position: absolute;
  top: -10px;
  right: -7px;
  width: 22px;
  height: 22px;
  background: #000;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}
.bigImgContainer {
  display: none;
  position: relative;
  width: 1067px;
  height: 600px;
  background: transparent !important;
}
.bigImgContainer .bigImg {
  float: left;
  width: 565px;
  height: 600px;
  box-sizing: border-box;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  background-position: center;
}
.bigImgContainer .bigImgRightBox {
  float: right;
  width: 342px;
  margin: 0 130px 0 30px;
}
.bigImgContainer .bigImgRightBox .fileNameBox {
  box-sizing: border-box;
  width: 342px;
  height: 102px;
  padding: 20px;
  background: rgba(90, 90, 90, 0.9);
  border-radius: 10px;
}
.bigImgContainer .bigImgRightBox .fileNameBox .fileTitle {
  font-size: 16px;
  line-height: 20px;
  color: #f6c567;
}
.bigImgContainer .bigImgRightBox .fileNameBox .fileTitle > span {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background: #f6c567;
  border-radius: 10px 0 0 0;
  margin-right: 10px;
}
.bigImgContainer .bigImgRightBox .fileNameBox .fileName {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  margin: 20px 20px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigImgContainer .bigImgRightBox .fileDescBox {
  box-sizing: border-box;
  width: 342px;
  height: 420px;
  padding: 20px;
  margin: 10px 0 0;
  border-radius: 10px;
  background: rgba(90, 90, 90, 0.9);
}
.bigImgContainer .bigImgRightBox .fileDescBox .descTitle {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #f6c567;
  background: url("../../images/remark_active.png") no-repeat left center;
  padding-left: 30px;
}
.bigImgContainer .bigImgRightBox .fileDescBox .descText {
  box-sizing: border-box;
  margin-top: 12px;
  width: 100%;
  height: 360px;
  line-height: 26px;
  background: transparent;
  padding: 0 5px;
  color: #fff;
}
.bigImgContainer .bigImgRightBox .fileDescBox .descText::-webkit-scrollbar {
  display: none;
}
.bigImgContainer .bigImgRightBox .switchBox {
  margin-top: 25px;
}
.bigImgContainer .bigImgRightBox .switchBox > a {
  float: left;
  display: block;
  box-sizing: border-box;
  width: 166px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #101010;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #666;
  border-radius: 10px;
}
.bigImgContainer .bigImgRightBox .switchBox .next {
  float: right;
}
.bigImgContainer .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  color: #fff;
  width: 100px;
  height: 26px;
  font-size: 18px;
  padding-left: 45px;
  background: url("../../images/close.png") no-repeat 15px center;
}
.selectTimeContainer {
  display: none;
  width: 1060px;
  height: 680px;
}
.selectTimeContainer .closeBtnTime {
  height: 50px;
  text-align: right;
  font-size: 18px;
  color: #ffffff;
  line-height: 32px;
}
.selectTimeContainer .closeBtnTime img {
  float: right;
  margin: 3px 5px 0 0;
}
.selectTimeContainer .closeBtnTime span {
  float: right;
}
.selectTimeContainer .selectTimeContent {
  box-sizing: border-box;
  background: #f4f4f4;
  height: 630px;
  width: 1060px;
  border-radius: 10px;
  padding: 10px;
}
.selectTimeContainer .selectTimeContent .leftContent {
  float: left;
  width: 290px;
  height: 500px;
  margin-right: 10px;
  background: #ffffff;
  overflow: hidden;
}
.selectTimeContainer .selectTimeContent .leftContent > h3 {
  margin: 15px 0 0 20px;
  font-weight: 600;
  font-size: 18px;
  color: #1937bc;
}
.selectTimeContainer .selectTimeContent .leftContent > h3 > span {
  display: block;
  font-size: 14px;
}
.selectTimeContainer .selectTimeContent .leftContent .timeBox {
  margin: 0 0 0 10px;
}
.selectTimeContainer .selectTimeContent .leftContent .timeBox .layui-laydate {
  border: none;
  box-shadow: none;
}
.selectTimeContainer .selectTimeContent .leftContent > p {
  font-size: 14px;
  color: #101010;
  line-height: 24px;
  margin: 25px 20px 0;
}
.selectTimeContainer .selectTimeContent .rightContent {
  float: right;
  box-sizing: border-box;
  width: 740px;
  height: 500px;
  background: #fff;
  padding: 10px;
}
.selectTimeContainer .selectTimeContent .rightContent > li {
  float: left;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px solid #f4f4f4;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  color: #101010;
}
.selectTimeContainer .selectTimeContent .rightContent .active {
  background: #475bc8;
  color: #fff;
}
.selectTimeContainer .selectTimeContent .btnBox {
  float: left;
  width: 100%;
}
.selectTimeContainer .selectTimeContent .btnBox .yesBtn {
  display: block;
  margin: 50px auto 0;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border: 1px solid #3249c2;
  background: #516dcf;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
}
.operateBox,
.incomplete,
.fillOut {
  display: none;
  box-sizing: border-box;
  width: 300px;
  height: 80px;
  background: #fff;
  border-radius: 10px;
}
.operateBox > p,
.incomplete > p,
.fillOut > p {
  text-align: center;
  font-size: 16px;
  color: #101010;
  line-height: 80px;
}
.noDocter {
  cursor: pointer;
}
.doctorChunk {
  cursor: pointer;
}
.submitBox {
  display: none;
  box-sizing: border-box;
  width: 500px;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  padding: 60px 0 0;
}
.submitBox > p {
  text-align: center;
  font-size: 18px;
  color: #101010;
}
.submitBox .btnBox {
  margin: 50px 0 0;
  text-align: center;
}
.submitBox .btnBox > a {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #3249c2;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}
.submitBox .btnBox .yesBtn {
  background: #1937bc;
}
.submitBox .btnBox .noBtn {
  background: #516dcf;
}
/* 弹层 */
.storage {
  width: 340px;
  height: 200px;
  background: #f4f4f4;
  border: 1px solid #fff;
  border-radius: 10px;
  line-height: 200px;
  display: none;
}
.storage img {
  margin-left: 87px;
}
.storage span {
  font-size: 22px;
  padding-left: 20px;
}
.verify {
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: none;
  background-color: #fff;
  border-radius: 10px;
}
   .lightbox {
     position: fixed;
     top: 0px;
     left: 0px;
     height: 100%;
     width: 100%;
     z-index: 7;
     opacity: 0.3;
     display: block;
     background-color: rgb(0, 0, 0);
   }

   .pop {
     position: absolute;
     left: 50%;
     width: 894px;
     margin-left: -447px;
     z-index: 9;
  
   }
